.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px; /*Antes estaba en 50px*/
}

.App-header {
  background-color: #222;
  height: 100px; /*Antes estaba en 50px*/
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

/*Lesson 1: Agrego estilos */
.card-title {
  text-align: center;
}

.card-img-top {
  width: auto;
  height: auto;
}

.card-paragraph {
  font-size: 12px;
  text-align: justify;
}

.btn btn-primary {
  align-content: center;
  align-items: center;
}

.table-bookings {
  font-size: 13px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  /* Agrego estilos */
  text-align: center;
  font-size: 13px;
  list-style: none;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-bottom: 20px;
}

.card {
  width: 18rem;
  /*display: inline-block;*/
}
